.hr-container{
    min-height: 100vh;
   
}

.hr-row{
    flex-wrap: wrap;
     margin-top: 100px;
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
}

.hr-col1{
    flex: 2;
}

.hr-col2{
    flex: 1;
  
    overflow: hidden;
}
@media (max-width:375px) {
    .hr-row{
        flex-direction: column;
        overflow: hidden;
    }

    .hr-col1,.hr-col2{
        flex: 1;
    }
}