.h-container{
    background-color: var(--White);

}

nav{
    position:fixed;
    top: 0;
    margin: 0 auto;
    max-width: 100%;
    z-index: 99; 
    background-color: var(--White); 
}

.logo{
    width: 350px;
}

#navLinks{
    display: flex;
    align-items: center;
    flex: 1;
}

#navLinks ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
    text-align: right;
    list-style: none;
    position: relative;
}

#navLinks ul li{
    margin: 0 25px;
    
}

#navLinks ul li a{
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--bg-infographics);
    display: flex;
    align-items: center;
}

#navLinks ul li a img{
   width: 10px;
    margin-left: 6px;
    transform: rotate(-180deg);
}

#navLinks ul li a:hover img{
    transform: rotate(0deg);
}

#menuBar{
display: none;
}

/* ----------------SUBMENU-------------------*/

.submenu{
    display: none;
}

.submenu>div{
    flex: 1;
}

#navLinks ul li:hover .submenu{
    display: block;
    position: absolute;
    margin: 20px auto;
    left: 50px;
    max-width: 700px;
    max-height: 250px;
    background: linear-gradient(#1b2330, #1b2330) ;
    transition: all 300ms ease-in-out;
    z-index: 999;
}

#navLinks ul li:hover .submenu ul{
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    padding: 20px;
    height: 100%;
    text-align: left;
    transition: all 300ms ease-in-out;
}

#navLinks ul li:hover .submenu ul li{
    margin: 10px;
}

#navLinks ul li:hover .submenu ul li a{
    color: var(--White);
    text-transform: capitalize;
    font-size: 12px;
}


@media (max-width:375px){

    nav{
        border-bottom: 1px solid hsl(0, 0%, 80%);
        
    }
    .logo{
        width: 200px;
    }

    #menuBar{
    display: block;
    }

    #menuBar img{
        width: 20px;
    }

    #navLinks{
        position: fixed;
        top: 90px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background-color: var(--bg-infographics);
        color: var(--White);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        transition: all 300ms ease-in;
        z-index: 999;

    }

    #navLinks.active{
        right: 0;
    }

    #navLinks ul{
        display: block;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        color: var(--White);
        flex: unset;
         text-align: left;
         /* background-color: rebeccapurple; */
    }

    #navLinks ul li{
    margin: 0px auto;
    border-bottom: 1px solid #1B2330;
    padding: 10px;
    }

    #navLinks ul li a{
        color: var(--White);
        justify-content: space-between;
        font-size: 14px;
    }

     #navLinks ul li a img{
        transform: rotate(0);
        
    }

    #navLinks .button{
        width:200px;
        padding: 14px 25px;
        font-size: 18px;
        margin-top: 50px;
    }


    /* -------submenu-------------- */
    .submenu{
    display: none;
    }

    #navLinks ul li:hover .submenu {
    position: unset;
    max-height: 100%;
    background: transparent;
    
    }

    #navLinks ul li:hover .submenu ul{
    flex-direction: column;
    padding: 0;
    overflow-y: auto;
    }

    #navLinks ul li:hover .submenu ul li{
    border-bottom: 0;
    flex-direction: column;
    padding: 0;
    }


}